name: Deploy-backend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install
          npm run build 
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Configure AWS credentials
        run: |
           echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
           echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
           echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> $GITHUB_ENV

      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v2
        # with:
        #   region: ${{secrets.AWS_REGION}}
        #   access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
        #   secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      
      - name: Build and Push Docker image to ecr
        run: |
          IMAGE_URI=${{secrets.ECR_REPOSITORY_URI}}

          docker build -t backend .
          docker tag backend:latest $IMAGE_URI:latest
          docker push $IMAGE_URI:latest
      - name: Render ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with: 
          task-definition: ecs-task-def.json
          container-name: backend
          image: ${{secrets.ECR_REPOSITORY_URI}}:latest
          
      - name: Deploy to AWS ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          cluster: ${{secrets.ECS_CLUSTER}}
          service: ${{secrets.ECS_SERVICE}}
          task-definition: ecs-task-def.json
          wait-for-service-stability: true


          

        
          
#access and secret key from aws update
# AC-AKIAXND6SE7KFLJOY4BR           SK-RWWFgMR9IA4SLrcyjBsDW5KAtDuRqqdGVNpivGVk      

